spring:
  datasource:
    url: jdbc:mysql://localhost:3306/jpa_mission
    username: root
    password: root1234!
    driver-class-name: com.mysql.cj.jdbc.Driver

  jpa:
    hibernate:
      ddl-auto: create
    properties:
      hibernate:
        show_sql: true
        format_sql: true

  logging:
    level:
      org:
        hibernate:
          type:
            descriptor:
              sql: trace